.AboutUS p
{
    color: rgb(219, 234, 248);
}
.map-img
{
    border-radius: 25px;
    width: 75%;
}
.nav-sub-menu
{
    width: 100% !important;
    min-width: 505px !important;
    background-color: rgba(255, 255, 255, 0.562) !important;
}
.nav-sub-menu img
{
    padding-left: 25px;
    padding-right: 25px;
}
.nav-sub-menu li a
{
    color: #000 !important;
}
.slider-logo
{
    text-align: center;
    align-items: center;
    width: 40%;
    position: relative;
    left: 30%;
    padding-bottom: 15px;
}
.ltn__brand-logo-area
{
    margin-top: -30px;
}
.new_bg_dark
{
    background-color: var(--black-2) !important;
}
@media only screen and (max-width:1199px) {
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 25% !important; 
    }
}
@media only screen and (max-width:1199px) {
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 25% !important; 
    }
}
@media only screen and (max-width:991px) {
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 5% !important; 
    }
}
@media only screen and (max-width:767px) {
    .dark-bg
    {
        background-color: rgba(0, 0, 0, 0.774) !important;
        padding: 15px;
        border-radius: 15px;
    }.map-img
    {
        width: 100%;
    }
    .slider-logo
    {
        text-align: center;
        align-items: center;
        width: 70%;
        position: relative;
        left: 15%;
        padding-bottom: 15px;
    }
    .ltn__brand-logo-area
    {
        margin-top: 0px;
    }
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 0% !important; 
    }
    .d-mobile-none
    {
        display: none !important;
    }
}