.site-logo img
{
    width: 190px;
}
.AboutUS p
{
    color: rgb(219, 234, 248);
}
.map-img
{
    border-radius: 25px;
    width: 75%;
}
.nav-sub-menu
{
    width: 100% !important;
    min-width: 505px !important;
    background-color: rgba(255, 255, 255, 0.562) !important;
}
.nav-sub-menu img
{
    padding-left: 25px;
    padding-right: 25px;
}
.nav-sub-menu li a
{
    color: #000 !important;
}
.slider-logo
{
    text-align: center;
    align-items: center;
    width: 40%;
    position: relative;
    left: 30%;
    padding-bottom: 15px;
}
.ltn__brand-logo-area
{
    margin-top: -30px;
}
.new_bg_dark
{
    background-color: var(--black-2) !important;
}
.iso-img
{
    position: relative;
    left: 17% !important;
}
.ltn__top-bar-menu li a
{
    color: var(--ltn__secondary-color);
}
.ltn__top-bar-menu li a:hover
{
    color: rgba(0, 0, 0, 0.445);
}
.ltn__main-menu li > a:hover
{
    color: rgba(0, 0, 0, 0.445) !important;
}
.ltn__feature-item-6:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.mission-img
{
    position: relative;
    left: 60px;
}
.vision-img
{
    position: relative;
    left: 30px;
}
.values-img
{
    position: relative;
    left: 60px;
}
.logo-slider
{
    position: relative;
    left: 15%;
    margin-bottom: -0px;
}
@media only screen and (max-width:1199px) {
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 25% !important; 
    }
}
@media only screen and (max-width:991px) {
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 5% !important; 
    }
    .iso-img
    {
        position: relative;
        left: 0% !important;
    }
    .modal-content {
        border-radius: 0;
      top: 5vh !important; }
}
@media only screen and (max-width:767px) {
    .site-logo img
    {
        width: 165px;
        margin-left: 5px;
    }
    .dark-bg
    {
        background-color: rgba(0, 0, 0, 0.774) !important;
        padding: 15px;
        border-radius: 15px;
    }.map-img
    {
        width: 100%;
    }
    .slider-logo
    {
        text-align: center;
        align-items: center;
        width: 70%;
        position: relative;
        left: 15%;
        padding-bottom: 15px;
    }
    .ltn__brand-logo-area
    {
        margin-top: 0px;
    }
    .ltn__slide-animation {
        position: relative;
        z-index: 9;
        left: 0% !important; 
    }
    .d-mobile-none
    {
        display: none !important;
    }
    .ltn__feature-item-6
    {
        background-color: var(--ltn__secondary-color);
    }
    .ltn__feature-info h4 a
    {
        color: #fff !important;
    }
    .ltn__feature-item-6 .ltn__feature-info p
    {
        color: lightgray;
    }
    .ltn__feature-item-6:hover
    {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.6;
        background-color: #000;
    }
    .logo-slider
    {
        position: relative;
        left: 0%;
        margin-bottom: 0px;
    }
    .mission-img
    {
        left: 0;
    }
    .vision-img
    {
        left: 0;
    }
    .values-img
    {
        left: 0;
    }
    .ltn__product-item-4:hover {
        /* background-color: rgba(255, 255, 255, 0.418); */
        transition: 0s;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        padding-top: 0px;
      }
}