.AboutUS p
{
    color: rgb(219, 234, 248);
}
.map-img
{
    border-radius: 25px;
    width: 90%;
}
.nav-sub-menu
{
    width: 100% !important;
    min-width: 505px !important;
    background-color: rgba(255, 255, 255, 0.562) !important;
}
.nav-sub-menu img
{
    padding-left: 25px;
    padding-right: 25px;
}
.nav-sub-menu li a
{
    color: #000 !important;
}
@media only screen and (max-width:768px) {
    .dark-bg
    {
        background-color: rgba(0, 0, 0, 0.774) !important;
        padding: 15px;
        border-radius: 15px;
    }.map-img
    {
        width: 100%;
    }
}